<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getxhomeservice.homeone">


    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permission options for the 'contrats' group  -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>


    <!-- Permission options for the 'camera' group  -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Permission options for the 'storage' group  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Permission options for the 'SMS' group  -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>

    <!-- Permission options for the 'PHONE' group  -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ADD_VOICEMAIL"/>
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE"/>

    <!-- Permission options for the 'MICROPHONE OR SPEECH' group  -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- Permission options for the 'SENSOR' group  -->
    <uses-permission android:name="android.permission.BODY_SENSORS"/>

    <!-- Permission options for the 'ACCESS MEDIA LOCATION' group  -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>

    <!-- Permission options for the 'ionoreBetteryOptiomization  -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!-- Permission options for the 'ACCESS MEDIA LOCATION' group  -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    
    <!-- Permission options for the 'BLUETOOH' group  -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <!-- Permission options for the 'MANAGE EXTERNAL STORAGE' group  -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <!-- Permission options for the 'SYSTEM_ALERT_WINDOW' group  -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- Permission options for the 'REQUEST_INSTALL_PACKAGES' group  -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- Permission options for the 'NOTIFICATION POLICY' group  -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <!-- Permission options for the 'LOCATION' group  -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    
   <application
        android:label="getx_home_service"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:usesCleartextTraffic="true"
            android:requestLegacyExternalStorage="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        <!-- NOTIFICATION -->
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

            
        <!-- PATH PROVIDER -->
        <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
        </provider>


        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC4S6BfIqhc2FLgK1jBIGfGs90UVkMCx98"/>
    </application>
</manifest>
