<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660609713234-l4d07t26vgrs4kbluujllia8o06i683v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660609713234-l4d07t26vgrs4kbluujllia8o06i683v</string>
	<key>API_KEY</key>
	<string>AIzaSyB55VCyB2VV8TJ2yCaY0XJEQqTln2giARg</string>
	<key>GCM_SENDER_ID</key>
	<string>660609713234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getxhomeservice.homeone</string>
	<key>PROJECT_ID</key>
	<string>siri-outarea</string>
	<key>STORAGE_BUCKET</key>
	<string>siri-outarea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660609713234:ios:b862b2556133dd03ac0b8b</string>
	<key>DATABASE_URL</key>
	<string>https://siri-outarea-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>